@import url("index.css");


.title {
    color: var(--coralpink);

}

.paper {
    margin: 4rem;
    padding: 2rem;
}

.nested {
    display: flex;
    color: var(--coralpink);
    font-weight: bold;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
 
}